{% extends 'base.html' %}

{% block title %}
  {{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
<div class="col-md-3">
    <div class="list-group">
      <a href="{% url 'home' %}" class="list-group-item list-group-item-action">Все категории</a>
      {% for item in category %}
      <a href="{% url 'category' item.pk %}" class="list-group-item list-group-item-action">{{ item.title }}</a>
      {% endfor %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-md-9">
     {% for n in news %}
          <div class="card mb-3">
            <div class="card-body">
              <div class="media">
                {% if n.photo %}

                <img width="50%" class="mr-3" src="{{ n.photo.url }}">
                {% endif %}
                <div class="media-body">
                  <h4 class="card-title">{{n.title}}</h4>
                  <p class="card-text">{{ n.content|truncatewords:50 }}</p>
                  <a href="#" class="btn btn-primary">read more...</a>
                 </div>
              </div>

            </div>
            <div class="card-footer text-muted">
              {{ n.create_up|date:"d-m-Y H:i:s" }}<br>{{ n.create_up|timesince }}
            </div>
          </div>
    {% endfor %}
</div>
{% endblock %}